.logo{
    width : 32px;
    height : 32px;
}
body {
    margin: 0;
    font-family: 'Prompt', sans-serif;
    background-color: #ffffff;
    overflow-x: hidden;
}

section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    padding: 40px 20vw;
}

* {
    box-sizing: border-box
}

input[type=text],
input[type=password] {
    display:contents;
    border: none;
    background: #f1f1f1;
}


input[type=text]:focus,
input[type=password]:focus {
    background-color: #f1f1f1;
    outline: none;
}

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: #474e5d;
    padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 18px;
}

/* Set a style for all buttons */
button {
    color: #f0f0f0;
    padding: 14px 20px;
    margin: 8px 0;
    border: 2px solid #5a8d69;
    cursor: pointer;
    width: 20%;
    opacity: 0.9;
    border-radius: 25px;
    display: inline-block;
}

button:hover {
    opacity: 1;
}

/* Extra styles for the cancel button */
.cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
}

.signupbtn {
    padding: 14px 20px;
    background-color: #518d74;
}

.googlebtn {
    padding: 14px 20px;
    background-color: blue;
}

/* Float cancel and signup buttons and add an equal width */
.signupbtn,
.googlebtn {
    float: left;
    width: 50%;
}

/* Add padding to container elements */
.container {
    padding: 8px;
}

.close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
}

.close:hover,
.close:focus {
    color: #f44336;
    cursor: pointer;
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {

    .cancelbtn,
    .signupbtn,
    .googlebtn {
        width: 80%;
    }
}

    .profile-img {
        width: 50%;
      }

      
      .blue-text {
        color: #0a0a0a;
        font-weight: 500;
      }
      
      .dtext {
        color: #0a0a0a;
        font-weight: 500;
      }
      
      .time {
        font-size: 9px !important;
      }
      
      .feed-image img {
        width: 100%;
        height: auto;
      }
      
      .resize-img {
        width: 40%;
      }
      
      .container-bg {
        background: #f6f6f6;
        padding-left: 1rem;
        padding-bottom: 1rem;
        padding-top: 2rem;
      }
      
      .container-fd {
        background: #f6f6f6;
        padding-left: 1rem;
        padding-bottom: 1rem;
        padding-right: 1rem;
        padding-top: 2rem;
      }
      
      .dropdown {
        padding-bottom: 3rem;
      }