<!DOCTYPE html>
<html lang="en">
<!--
This page is about the creators of this app
-->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="header">
        <h1>Better Health</h1>
        <h2>A <b>better</b> way to get healthy</h2>
    </div>

    <div class="navbar">
        <a href="#" class="active">Home</a>
        <a href="#">Update Profile</a>
        <a href="#">Meals </a>
        <a href="#">Workouts </a>
        <a href="#">Calorie Counter </a>
        <a href="#" class="right">Log out</a>
    </div>
    <!--
        Each section from here down is about each creator
    -->
    <section id="ryan">
        <p class="title">Ryan Cabell</p>
        <h5>Selected photo of user:</h5>
        <div class="fakeimg" style="height:200px; float: right;">Image</div>
        <p>Erat tortor porta fermentum proin vulputate. Augue vitae non fusce facilisis imperdiet, felis nulla nisi
            suspendisse ante tortor lobortis. Nunc taciti rhoncus pellentesque. At tortor vehicula praesent facilisi
            elementum scelerisque.
        </p>
    </section>
    <section id="me">
        <p class="title">Name</p>
        <h5>Selected photo of user:</h5>
        <div class="fakeimg" style="height:200px; float: right;">Image</div>
        <p>Erat tortor porta fermentum proin vulputate. Augue vitae non fusce facilisis imperdiet, felis nulla nisi
            suspendisse ante tortor lobortis. Nunc taciti rhoncus pellentesque. At tortor vehicula praesent facilisi
            elementum scelerisque.
    </section>
    <section id="me">
        <p class="title">Name</p>
        <h5>Selected photo of user:</h5>
        <div class="fakeimg" style="height:200px; float: right;">Image</div>
        <p>Erat tortor porta fermentum proin vulputate. Augue vitae non fusce facilisis imperdiet, felis nulla nisi
            suspendisse ante tortor lobortis. Nunc taciti rhoncus pellentesque. At tortor vehicula praesent facilisi
            elementum scelerisque.
    </section>
    <section id="me">
        <p class="title">Name</p>
        <h5>Selected photo of user:</h5>
        <div class="fakeimg" style="height:200px; float: right;">Image</div>
        <p>Erat tortor porta fermentum proin vulputate. Augue vitae non fusce facilisis imperdiet, felis nulla nisi
            suspendisse ante tortor lobortis. Nunc taciti rhoncus pellentesque. At tortor vehicula praesent facilisi
            elementum scelerisque.
    </section>
    <section id="me">
        <p class="title">Name</p>
        <h5>Selected photo of user:</h5>
        <div class="fakeimg" style="height:200px; float: right;">Image</div>
        <p>Erat tortor porta fermentum proin vulputate. Augue vitae non fusce facilisis imperdiet, felis nulla nisi
            suspendisse ante tortor lobortis. Nunc taciti rhoncus pellentesque. At tortor vehicula praesent facilisi
            elementum scelerisque.
    </section>
</body>

</html>