<!DOCTYPE html>
<html>
<!--
    The base html page for all web pages
    Using on pages that start with 
    {% extends "base.html" %}
    currently temporarily renamed "b"
    so I can play with the other "base.html"
    but this is the REAL one
-->

<head>
    {% block title %}
    {% endblock %}

    {% block styles %}
    {% endblock %}
</head>



<body>
    <div class="header">
        <h1>Better Health</h1>
        <h2>A <b>better</b> way to get live</h2>
    </div>

    <!--
        shows username if logged in
        otherwise just display redirect links
    -->
    <nav class="topnav">
        <ul>
            {% if g.user %}
            <span>{{ g.user['username'] }}</span>
            <a href="{{ url_for('auth.logout') }}">Log Out</a>
            {% else %}
            <a href="{{ url_for('register') }}">Register</a>
            <a href="{{ url_for('login') }}">Log In</a>
            {% endif %}
        </ul>
        <a href="./index">Home</a>
        <a class="login" href="./login">Login</a>
        <a href="./terms">Terms & Conditions</a>
        <a href="./about">About</a>
    </nav>
    {% block content %}
    {% endblock %}


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>