<!doctype html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<!--
    Temporary base.html poge from the internet
    Using to try and find ways to get/post html forms
-->
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
    <ul>
        {% if g.user %}
        <li><span>{{ g.user['username'] }}</span>
        <li><a href="logout.html">Log Out</a>
            {% else %}
        <li><a href="register">Register</a>
        <li><a href="login">Log In</a>
            {% endif %}
    </ul>
</nav>
        <!--Navbar-->

        <nav class="navbar navbar-expand-md bg-dark navbar-dark">
            <div class="container">
                <a href="#" class="navbar-brand">Better Health</a>
                <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navmenu">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navmenu">
                    <ul class="navbar-nav"> 
                        <li class="nav-item">
                            <a href="/testing_recipes.html" class="nav-link">Recipes</a>
                        </li>
                        <li class="nav-item">
                            <a href="#calories" class="nav-link">Calories</a>
                        </li>
                        <li class="nav-item">
                            <a href="#workout" class="nav-link">Workouts</a>
                        </li>
                        <li class="nav-item">
                            <a href="#settings" class="nav-link">Settings</a>
                        </li>
                    </ul>
                    <ul class= "navbar-nav ms-auto">
                        <li class="nav-item">
                            <a href="#logout" class="nav-link">Log out</a>
                        </li>
                    </ul>
                </div>

            </nav>
<section class="content">
    <header>
        {% block header %}{% endblock %}
    </header>
    {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
</section>