{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
<!--
    Future homepage with water tracker, plant, and water input
-->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% block title %}
    Betterhealth webpage
    {% endblock %}
</head>

{% block styles %}
{% endblock %}

<body>
    {% block content %}
    <p>Home page text</p>
    {% endblock %}

</body>

</html>