<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
<!-- 
    Profile setup page
    has profile picture, options, and save button
    should incorporate settings
-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Profile setup</title>
    <link href="profile_setup.css" rel="stylesheet" type="text/css">

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">

</head>

<body>

    <div class="card">
        <img src="https://images.unsplash.com/photo-1611003228941-98852ba62227?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8YmFieSUyMGRvZ3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80"
            alt="Girl in a jacket" style="width:128px;height:128px;">

        <!--Users Weight-->
        <p class="title">Weight(kgs):</p>
        <input type="text" name="weight">

        <!--Users Height-->
        <p class="title">Height(ft):</p>
        <input type="text" name="height">

        <!--Users Age-->
        <p class="title">Age:</p>
        <input type="text" name="age">

        <!--Users gender-->
        <p class="title">Gender?</p>
        <p class="title"><input type="radio" id="female" name="gender" value="Female">
              <label for="Female">Female</label><br>
            <input type="radio" id="male" name="gender" value="Male">
              <label for="Male">Male</label><br>
            <input type="radio" id="other" name="gender" value="Other">
              <label for="Other">Other</label><br>
        </p>


        <!--Users Active-->
        <p class="title">How active are you?</p>
        <p class="title"><input type="radio" id="sedentary" name="active" value="Sedentary">
              <label for="sedentary">Sedentary</label><br>
            <input type="radio" id="lightlyActive" name="active" value="LightlyActive">
              <label for="lightlyActive">Lightly Active</label><br>
            <input type="radio" id="Active" name="active" value="Active">
              <label for="Active">Active</label><br>
            <input type="radio" id="veryActive" name="active" value="VeryActive">
              <label for="veryActive">Very Active</label><br>
        </p>

        <!--Food Diet-->
        <p class="title">What is your food diet?</p>
        <p class="title"><input type="radio" id="regularDiet" name="diet" value="RegularDiet">
            <label for="regularDiet">Regular Diet</label><br>
            <input type="radio" id="veganDiet" name="diet" value="VeganDiet">
            <label for="veganDiet">Vegan Diet</label><br>
            <input type="radio" id="vegetarianDiet" name="diet" value="VegetarianDiet">
            <label for="vegetarianDiet">Vegetarian Diet</label><br>
        </p>

        <!--Users water drinkage-->
        <p class="title">Do you drink water regularly?</p>
        <p class="title"><input type="radio" id="yes" name="water" value="Yes">
              <label for="yes">Yes</label><br>
            <input type="radio" id="no" name="water" value="No">
              <label for="no">No</label><br>
        </p>


        <p><button>Save</button></p>


    </div>
    <script src="" async defer></script>
</body>

</html>