<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <title>Settings</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/style.css">

</head>

<body>
    <!-- (tries to) ignore settings that are empty -->
    <script>
        function disableEmptyInputs(form) {
        var controls = form.elements;
        for (var i=0, iLen=controls.length; i<iLen; i++) {
            console.log(controls[i]);
            controls[i].disabled = controls[i].value == None;
  }
}
    </script>
    <script>
        if(document.getElementById('female').checked) {
        //Male radio button is checked
        }else if(document.getElementById('male').checked) {
        //Female radio button is checked
        }
    </script>


    <nav class="navbar navbar-expand-md bg-dark navbar-dark sticky-top">
        <div class="container">
            <a href="/testing_homepage" class="navbar-brand">Better Health</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navmenu">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="/testing_recipes" class="nav-link">Recipes</a>
                    </li>
                    <li class="nav-item">
                        <a href="/testing_calorie" class="nav-link">Calories</a>
                    </li>
                    <li class="nav-item">
                        <a href="/testing_workout" class="nav-link">Workouts</a>
                    </li>
                    <li class="nav-item">
                        <a href="/settings" class="nav-link">Settings</a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a href="/logout" class="nav-link">Log out</a>
                    </li>
                </ul>
            </div>

    </nav>

    <div class="container ">
        <div class="row gx-5">
            <div class="col">
                <div class="p-4"></div>
            </div>
        </div>
    </div>

    <div class="container ">
        <div class="d-flex " id="wrapper">
            <!-- Sidebar-->
            <div class="border-end bg-white" id="sidebar-wrapper">

                <div class="list-group list-group-flush p-2">
                    <a class="list-group-item list-group-item-action list-group-item-light p-3"
                        href="/settings"  >Health information</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3"
                        href="/testing_profilepic"  >Profile picture</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3"
                        href="/testing_password">Change password</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3"
                        href="./testing_username">Change username</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3"
                        href="./test_notifications">Notifications</a>
                </div>
            </div>
            <!-- Page content wrapper-->
            <div id="page-content-wrapper ">


                <!-- Page content-->
                <div class="container-fluid">
                    <h1 class="mt-4 mb-4 ms-4">Personal information</h1>
                    <div class="container ps-5">
                        <!--Asking for height weight and dob-->

                        <form action="/settings" method="POST" onsubmit="disableEmptyInputs(this)" >
                            <div class="row mb-3 ">
                                <label for="input_weight" class="col-sm-2 ps-1 col-form-label"> Weight (kgs):</label>
                                <div class="col-sm-10 pt-2">
                                    <input type="number" class="form-control" id="input_weight" name="input_weight">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="input_height" class="col-sm-2 ps-1 col-form-label">Height (ft):</label>
                                <div class="col-sm-10 pt-2">
                                    <input type="number" class="form-control" id="input_height" name="input_height">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="input_dob" class="col-sm-2 ps-1 col-form-label">DOB:</label>
                                <div class="col-sm-10 pt-1">
                                    <input type="date" id="input_dob">
                                </div>
                            </div>
                            <!--Users gender-->
                            <fieldset class="gender row mb-3">
                                <legend class="col-form-label ps-1 pt-0">Gender</legend>
                                <div class="col-sm-10">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="gender" id="female"
                                            value="female">
                                        <label class="form-check-label" for="female">
                                            Female
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="gender" id="male"
                                            value="male">
                                        <label class="form-check-label" for="male">
                                            Male
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="gender" id="other"
                                            value="other">
                                        <label class="form-check-label" for="other">
                                            Other
                                        </label>
                                    </div>

                                </div>
                            </fieldset>
                            <!--How active the user is-->

                            <fieldset class="active row mb-3">
                                <legend class="col-form-label ps-1 pt-0">How active are you?
                                    <span class="tt" data-bs-placement="top"
                                        title="Hover over the words if you don't understand what each one means.">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-question-circle" viewBox="0 0 16 16">
                                            <path
                                                d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z">
                                            </path>
                                            <path
                                                d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z">
                                            </path>
                                        </svg>
                                    </span>
                                </legend>
                                <div class="col-sm-10">

                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="activity" id="sedentary"
                                            value="sedentary">
                                        <span class="tt" data-bs-placement="right"
                                            title="Unless you do at least 30 minutes per day of intentional exercise, you are considered sedentary.">
                                            <label class="form-check-label" for="sedentary" data-bs-toggle="tooltip"
                                                data-bs-placement="right" title
                                                data-bs-original-title="Default tooltip">
                                                Sedentary
                                            </label>
                                        </span>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="activity"
                                            id="LightlyActive" value="light">

                                        <span class="tt" data-bs-placement="right"
                                            title="Daily exercise that is equal to walking for 30 minutes at 4mph. This amount of exercise will burn about 130-160 additional calories.">

                                            <label class="form-check-label" for="LightlyActive">
                                                Lightly Active
                                            </label>
                                        </span>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="activity" id="active"
                                            value="moderate">
                                        <span class="tt" data-bs-placement="right"
                                            title="Daily exercise that is equal to walking for 1 hour and 45 minutes at 4mph. This amount of exercise will burn about 470-580 additional calories.">

                                            <label class="form-check-label" for="active">
                                                Active
                                            </label>
                                        </span>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="activity" id="VeryActive"
                                            value="heavy">
                                        <span class="tt" data-bs-placement="right"
                                            title="Daily exercise that is equal to walking for 4 hours and 15 minutes at 4mph. This amount of exercise will burn about 1,150-1400 additional calories.">

                                            <label class="form-check-label" for="VeryActive">
                                                Very Active
                                            </label>
                                        </span>
                                    </div>
                                </div>
                            </fieldset>
                            <!-- the users food diet-->
                            <fieldset class="food row mb-3">
                                <legend class="col-form-label ps-1 pt-0">Food diet?</legend>
                                <div class="col-sm-10">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="diet" id="RegularDiet"
                                            value="regular">
                                        <label class="form-check-label" for="RegularDiet">
                                            Regular Diet
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="diet" id="VeganDiet"
                                            value="vegan">
                                        <label class="form-check-label" for="VeganDiet">
                                            Vegan Diet
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="diet" id="Vegetarian"
                                            value="vegetarian">
                                        <label class="form-check-label" for="Vegetarian">
                                            Vegetarian
                                        </label>
                                    </div>
                                </div>
                            </fieldset>
                            <!--how often the user drinks water-->
                            <fieldset class="water row mb-3">
                                <legend class="col-form-label ps-1 pt-0">Do you drink water regularly?</legend>
                                <div class="col-sm-10">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="water" id="Yes"
                                            value="option8">
                                        <label class="form-check-label" for="Yes">
                                            Yes
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="water" id="No"
                                            value="option9">
                                        <label class="form-check-label" for="No">
                                            No
                                        </label>
                                    </div>

                                </div>
                            </fieldset>
                            <!--
                        <div class="row mb-3">
                            <div class="col-sm-10 offset-sm-2">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="gridCheck1">
                                    <label class="form-check-label" for="gridCheck1">
                                        Example checkbox
                                    </label>
                                </div>
                            </div>
                        </div>-->
                            <button type="submit" class="btn btn-primary">Save</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>
    <script>
        const tooltips = document.querySelectorAll('.tt')
        tooltips.forEach(t => {
            new bootstrap.Tooltip(t)
        })
    </script>
</body>

</html>