.logo{
    width : 32px;
    height : 32px;
}


    /* Add a black background color to the top navigation */
    .topnav {
        background-color: rgb(175, 202, 181);
        overflow: hidden;
    }

    /* Style the links inside the navigation bar */
    .topnav a {
        background-color: #09a866;
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

    /* Change the color of links on hover */
    .topnav a:hover {
        background-color: #ddd;
        color: black;
    }

    /* Add a color to the active/current link */
    .topnav a.active {
        background-color: #09a866;
        color: white;
    }

    .smallsectiongreen {
        background-color: #09a866;
        width: 100%;
        height: 10%;
    }