<!DOCTYPE html>


<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <title>Homepage</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <!--Navbar-->

    <nav class="navbar navbar-expand-md bg-dark navbar-dark sticky-top">
        <div class="container">
            <a href="/testing_homepage" class="navbar-brand">Better Health</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navmenu">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="/testing_recipes" class="nav-link">Recipes</a>
                    </li>
                    <li class="nav-item">
                        <a href="/calorie" class="nav-link">Calories</a>
                    </li>
                    <li class="nav-item">
                        <a href="/testing_workout" class="nav-link">Workouts</a>
                    </li>
                    <li class="nav-item">
                        <a href="/settings" class="nav-link">Settings</a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a href="/logout" class="nav-link">Log out</a>
                    </li>
                </ul>
            </div>

    </nav>


    <div class="container ">
        <div class="row gx-5">
            <div class="col">
                <div class="p-4"></div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-1">

            </div>
            <!--Profile left side-->
            <div class="col">

                <div class="container-bg rounded">
                    <h2>Profile</h2>

                    <figure class="figure">
                        <div class="profile-img">
                            <img src="https://cdn-prod.medicalnewstoday.com/content/images/articles/325/325466/man-walking-dog.jpg"
                                class="figure-img img-fluid rounded-circle" alt="...">
                        </div>
                    </figure>
                    <div class="blue-text">
                        <p>Date Started:</p>
                        <p>Weight Lost:</p>
                        <p>Goal:</p>

                    </div>

                    <a href="/updateweight" class="btn btn-outline-success " aria-current="page">Update
                        Weight</a>
                </div>
                <div class="container ">
                    <div class="row gx-5">
                        <div class="col">
                            <div class="p-3"></div>
                        </div>
                    </div>
                </div>
                <div class="container-bg">
                    <h2>Achievements</h2>

                </div>
            </div>
            <!--Feed right side-->
            <div class="col">
                <div class="container-fd">
                    <h2>Feed</h2>

                    <div class="containter">
                        <div class="bg-white border mt-2">
                            <div>
                                <div class="d-flex flex-row
                                        justify-content-between
                                        align-items-center p-2 border-bottom">
                                    <div class="d-flex flex-row
                                            align-items-center feed-text px-2"><img class="rounded-circle"
                                            src="https://i.imgur.com/aoKusnD.jpg" width="45">
                                        <div class="d-flex flex-column
                                                flex-wrap ml-2"><span class="font-weight-bold">
                                                Username </span><span class="text-black-50 time">40
                                                minutes ago</span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="p-2 px-3"><span>I just had cheeseee</span></div>
                        </div>
                        <div class="bg-white border mt-2">
                            <div>
                                <div class="d-flex flex-row
                                        justify-content-between
                                        align-items-center p-2 border-bottom">
                                    <div class="d-flex flex-row
                                            align-items-center feed-text px-2"><img class="rounded-circle"
                                            src="https://i.imgur.com/aoKusnD.jpg" width="45">
                                        <div class="d-flex flex-column
                                                flex-wrap ml-2"><span class="font-weight-bold">
                                                Username </span><span class="text-black-50 time">40
                                                minutes ago</span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="p-2 px-3"><span>I just had cheeseee</span></div>
                        </div>
                        <div class="bg-white border mt-2">
                            <div>
                                <div class="d-flex flex-row
                                        justify-content-between
                                        align-items-center p-2 border-bottom">
                                    <div class="d-flex flex-row
                                            align-items-center feed-text px-2"><img class="rounded-circle"
                                            src="https://i.imgur.com/aoKusnD.jpg" width="45">
                                        <div class="d-flex flex-column
                                                flex-wrap ml-2"><span class="font-weight-bold">
                                                Username </span><span class="text-black-50 time">40
                                                minutes ago</span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="p-2 px-3"><span>I just had cheeseee</span></div>
                        </div>
                    </div>
                </div>
                <!--Divider-->
                <hr>
                <!--Water tracker-->
                <div class="container-bg">
                    <h2>Water tracker</h2>
                    <div class="text-left">


                        <figure class="figure">
                            <div class="resize-img">
                                <img src="https://media2.giphy.com/media/MagjwsUK2vunGimNXT/giphy.gif"
                                    class="figure-img img-fluid " alt="...">
                            </div>
                        </figure>



                    </div>
                </div>


            </div>
            <div class="col-1">

            </div>
        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>

</body>

</html>