<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <title>bootstrap Recipes</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/style.css')}}">
  

</head>

<body>
    <!--Navbar-->
    <nav class="navbar navbar-expand-md bg-dark navbar-dark sticky-top">
        <div class="container">
            <a href="/testing_homepage" class="navbar-brand">Better Health</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navmenu">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="/testing_recipes" class="nav-link">Recipes</a>
                    </li>
                    <li class="nav-item">
                        <a href="/calorie" class="nav-link">Calories</a>
                    </li>
                    <li class="nav-item">
                        <a href="/testing_workout" class="nav-link">Workouts</a>
                    </li>
                    <li class="nav-item">
                        <a href="/settings" class="nav-link">Settings</a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a href="/login" class="nav-link">Log out</a>
                    </li>
                </ul>
            </div>
    </nav>

    <div class="container">
        <div class="row gx-5">
            <div class="col">
                <div class="p-4"></div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-1">
            </div>


            <div class="col">
                <!--Dropdown button-->
                <div class="dropdown text-center">

                    <button class="btn btn-secondary dropdown-toggle" type="button"  id="dropdownMenuButton2" 
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Choose a cuisine 
                    </button>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                        <li><a class="dropdown-item" href="/">American</a></li>
                        <li><a class="dropdown-item" href="/french/" >French</a></li>
                        <li><a class="dropdown-item" href="/japanese/">Japanese</a></li>
                        <li><a class="dropdown-item" href="/chinese/">Chinese</a></li>
                        <li><a class="dropdown-item" href="/spanish/">Spanish</a></li>
                        <li><a class="dropdown-item" href="/italian/">Italian</a></li>
                        <li><a class="dropdown-item" href="/european/">Europen</a></li>

                  
                    </ul>
                </div>
                <div class="container pb-3 ps-1">
                    <h3>Current cuisine chosen: {{title}}</h3>
                </div>
                <!--picture cards for different recipes-->
                <div class="card-group">
                    <div class="card">
                        <img src={{data.image}} class="card-img-top"
                            alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{data.title}}</h5>
                            <p class="card-text"> For calories and additional information visit <a href= {{data.spoonacularSourceUrl}}></href> Here </a></p>
                        </div>
                        <div class="card-footer text-center">
                            <a href={{href1}} id="button1" class="btn btn-outline-info" aria-current="page">Select</a>
                        </div>
                    </div>
                    <div class="card">
                        <img src={{data2.image}} class="card-img-top"
                            alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{data2.title}}</h5>
                            <p class="card-text"> For calories and additional information visit <a href= {{data2.spoonacularSourceUrl}}></href> Here </a> </p>
                        </div>
                        <div class="card-footer text-center" action="/result" method="POST">
                            <a href={{href2}} id="button2" class="btn btn-outline-info"  aria-current="page">Select</a>
                        </div>
                    </div>
                    <div class="card">
                        <img src={{data3.image}} class="card-img-top"
                            alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{data3.title}}</h5>
                            <p class="card-text"> For calories and additional information visit <a href= {{data3.spoonacularSourceUrl}}></href> Here </a>  </p>
                        </div>
                        <div class="card-footer text-center"> 
                            <a href={{href3}}  id="button3"  class="btn btn-outline-info"  aria-current="page">Select</a>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <div class="row gx-5">
                        <div class="col">
                            <div class="p-3"></div>
                        </div>
                    </div>
                </div>
            
                <!--Columns underneath cards-->
                <div class="row align-items-start">
                    <!--Recipe container-->
                    <div class="col">
                        <div class="container-bg">
                            <h3 class="text-center">Recipe:</h3>
                            <p>  {{DInstruc1}}</p>
                        </div>
                    </div>

                    <!--Description container-->
                    <div class="col">
                        <div class="container-bg">
                            <h3 class="text-center">Description:</h3>
                            <p>{{DSumm1}}</p>
                        </div>
                    </div>

                </div>

            </div>


            <div class="col-1">

            </div>

        </div>


    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>
</body>

</html>