<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <title>Home page</title>
    <link rel="stylesheet" href="/static/style.css">

    <script type="text/javascript">
        var calorie_goal = curr_user["calorie_goal"];
        var weight_left = curr_user["weight"] - curr_user["weight_goal"];
        var calories_tracked = curr_user["eaten_cals"] - curr_user["workout_cals"];
      </script>

</head>

<body>

    <!--Navbar-->

    <nav class="navbar navbar-expand-md bg-dark navbar-dark sticky-top">
        <div class="container">
            <a href="/testing_homepage" class="navbar-brand">Better Health</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navmenu">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="/testing_recipes" class="nav-link">Recipes</a>
                    </li>
                    <li class="nav-item">
                        <a href="/calorie" class="nav-link">Calories</a>
                    </li>
                    <li class="nav-item">
                        <a href="/testing_workout" class="nav-link">Workouts</a>
                    </li>
                    <li class="nav-item">
                        <a href="/settings" class="nav-link">Settings</a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a href="/login" class="nav-link">Log out</a>
                    </li>
                </ul>
            </div>

    </nav>


    <div class="container ">
        <div class="row gx-5">
            <div class="col">
                <div class="p-4"></div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-1">

            </div>
            <!--Profile left side-->
            <div class="col">

                <div class="container-bg rounded">
                    <h2>Hello {{session.username}} <span type="text" value={{username}} ""></span></h2>

                    <figure class="figure">
                        <div class="profile-img">
                            <img src="https://github.com/ylcorral/prototype490/blob/main/profilepic1.png?raw=true"
                                class="figure-img img-fluid rounded-circle " alt="...">
                        </div>
                    </figure>
                    <div class="blue-text">
                        <p>Calorie goal: {{calorie_goal}} <span type="text" value={{calorie_goal}} ""></span></p>
                        
                        <p>Calories tracked: {{calories_tracked}}<span type="text" value={{calories_tracked}} ""></span></p>
                        <p><span type="text" value={{weight_left}} ""></span>{{weight_left}} left to reach goal!</p>

                    </div>

                    <a href="./updateweight" class="btn btn-outline-success " aria-current="page">Update
                        Weight</a>
                </div>
                <div class="container ">
                    <div class="row gx-5">
                        <div class="col">
                            <div class="p-3"></div>
                        </div>
                    </div>
                </div>

                <!--To make the cards appear and disappear according to the users activty add visible or invisible in the class ex: visible card-->
                <div class="container-bg">
                    <h2>Achievements</h2>
                    <div class="container align-content-center ps-1 pt-2">
                        <div class="row row-cols-1 row-cols-md-3 g-4">
                            <div class="col">
                                <div class="card ">
                                    <img src="https://ih1.redbubble.net/image.2157721095.3686/st,small,507x507-pad,600x600,f8f8f8.jpg"
                                        class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <p class="card-text">For making a account and taking a step forward</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card ">
                                    <img src="https://ih1.redbubble.net/image.502702624.1972/st,small,507x507-pad,600x600,f8f8f8.u1.jpg"
                                        class="card-img-top" alt="...">
                                    <div class="card-body">

                                        <p class="card-text">For logging in 10 days consequently</p>

                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card">
                                    <img src="https://ih1.redbubble.net/image.120072564.5233/st,small,507x507-pad,600x600,f8f8f8.jpg"
                                        class="card-img-top" alt="...">
                                    <div class="card-body">

                                        <p class="card-text">For being physically active for a whole month</p>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!--Feed right side-->
            <div class="col">
                <div class="container-fd">
                    <h2>Feed</h2>

                    <div class="containter">
                        <div class="bg-white border mt-2">
                            <div>
                                <div class="d-flex flex-row
                                        justify-content-between
                                        align-items-center p-2 border-bottom">
                                    <div class="d-flex flex-row
                                            align-items-center feed-text px-2"><img class="rounded-circle"
                                            src="https://github.com/ylcorral/prototype490/blob/main/profilepic1.png?raw=true"
                                            width="45">
                                        <div class="d-flex flex-column
                                                flex-wrap ml-2"><span class="font-weight-bold">
                                                Crazcatlady41@yahoo.com </span><span class="text-black-50 time">15
                                                minutes ago</span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="p-2 px-3"><span>I just had saladdddd</span></div>
                        </div>
                        <div class="bg-white border mt-2">
                            <div>
                                <div class="d-flex flex-row
                                        justify-content-between
                                        align-items-center p-2 border-bottom">
                                    <div class="d-flex flex-row
                                            align-items-center feed-text px-2"><img class="rounded-circle"
                                            src="https://github.com/ylcorral/prototype490/blob/main/profilepic1.png?raw=true"
                                            width="45">
                                        <div class="d-flex flex-column
                                                flex-wrap ml-2"><span class="font-weight-bold">
                                                Glaberio229@gmail.com </span><span class="text-black-50 time">40
                                                minutes ago</span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="p-2 px-3"><span>I just had steakkkk</span></div>
                        </div>
                        <div class="bg-white border mt-2">
                            <div>
                                <div class="d-flex flex-row
                                        justify-content-between
                                        align-items-center p-2 border-bottom">
                                    <div class="d-flex flex-row
                                            align-items-center feed-text px-2"><img class="rounded-circle"
                                            src="https://github.com/ylcorral/prototype490/blob/main/profilepic1.png?raw=true"
                                            width="45">
                                        <div class="d-flex flex-column
                                                flex-wrap ml-2"><span class="font-weight-bold">
                                                Goofymddb@aol.net </span><span class="text-black-50 time">1
                                                hour ago</span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="p-2 px-3"><span>I just had cheeseee</span></div>
                        </div>
                    </div>
                </div>
                <!--Divider-->
                <hr>
                <!--Water tracker-->
                <div class="container-bg">
                    <h2>Water tracker</h2>
                    <div class="text-left">


                        <figure class="figure pt-2">
                            <h6>About how much water have you had today? <span class="tt" data-bs-placement="top"
                                title="It's important to at least drink 6 cups of water per day!">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                    fill="currentColor" class="bi bi-question-circle" viewBox="0 0 16 16">
                                    <path
                                        d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z">
                                    </path>
                                    <path
                                        d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z">
                                    </path>
                                </svg>
                            </span></h6> 
                            <form action="/water" method = "POST">
                                <div class="input-group mb-3 pe-5">
                                    <input type="text" class="form-control" aria-label="Amount" id="water" name="water">
                                    <span class="input-group-text">Ounces</span>
                                    <button type="submit" class="btn btn-primary">Enter</button>
                                </div>
                            </form>

                              <div class="container ps-0 pt-2">
                                <h6>Amount left: </h6>
                                <div class="card">
                                    <div class="card-body">
                                      {{water}}
                                    </div>
                                  </div>
                            </div>
                            <div class="resize-img  pt-3 float-end ">
                                <img src="https://media2.giphy.com/media/MagjwsUK2vunGimNXT/giphy.gif"
                                    class="figure-img img-fluid " alt="...">
                            </div>
                        </figure>



                    </div>
                </div>


            </div>










            <div class="col-1">
            </div>

        </div>


    </div>


    <div class="container">
        <div class="row gx-5">
            <div class="col">
                <div class="p-3"></div>
            </div>
        </div>
    </div>

    <!--Container underneath-->
    <div class="container">
        <div class="row">
            <div class="col-1">
            </div>


            <div class="col">

                <div class="row row-cols-1 row-cols-md-3 g-4">
                    <div class="col">
                        <div class=" shadow card border-secondary h-100">
                            <img src="https://selecthealth.org/-/media/selecthealth/blogs/post/2020/03/healthy_food_healthy_diet_blog_lg.ashx"
                                class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Thinking about changing your diet?</h5>
                                <p class="card-text">If you have decided to start a healthy eating plan,
                                    congratulations! Making that decision is an important step in becoming a healthier
                                    person. It's important not to jump in too far too fast. Slow, steady steps will set
                                    you up for success.</p>
                            </div>
                            <div class="card-footer text-center">
                                <a href="https://www.uofmhealth.org/health-library/zx3211" class="btn btn-secondary"
                                    aria-current="page">Visit site</a>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class=" shadow card border-secondary h-100">
                            <img src="https://dluxe-magazine.co.uk/wp-content/uploads/2020/06/jonathan-borba-lrQPTQs7nQQ-unsplash-800x533.jpg"
                                class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Want to try new exercises?</h5>
                                <p class="card-text">We’ve compiled some workout routines and ideas to help you along
                                    your way.
                                    These recommendations will help you evolve your workout routine and activity plan.
                                    The theme is picking something you love doing, and nurturing your feelings every
                                    step of the way.</p>
                            </div>
                            <div class="card-footer text-center">
                                <a href="https://www.webmd.com/fitness-exercise/features/workout-routines-ideas#1"
                                    class="btn btn-secondary" aria-current="page">Visit site</a>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class=" shadow card border-secondary h-100">
                            <img src="https://momalot.com/wp-content/uploads/2019/08/7-habits-of-highly-happy-people-800x533.jpg"
                                class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Health and Nutrition Tips</h5>
                                <p class="card-text">It’s easy to get confused when it comes to health and nutrition.
                                    Even qualified experts often seem to hold opposing opinions, which can make it
                                    difficult to figure out what you should actually be doing to optimize your health.
                                    Yet, despite all the disagreements, a number of wellness tips are well supported by
                                    research.
                                    Here are 28 health and nutrition tips that are based on scientific evidence.</p>
                            </div>
                            <div class="card-footer text-center">
                                <a href="https://www.healthline.com/nutrition/27-health-and-nutrition-tips"
                                    class="btn btn-secondary" aria-current="page">Visit site</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <div class="row gx-5">
                        <div class="col">
                            <div class="p-3"></div>
                        </div>
                    </div>
                </div>



            </div>


            <div class="col-1">

            </div>

        </div>



    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>
        <script>
            const tooltips = document.querySelectorAll('.tt')
            tooltips.forEach(t => {
                new bootstrap.Tooltip(t)
            })
        </script>
</body>

</html>