.profile-img{

    width: 50%;
}
body{
    background-color: #ffffff;
}

.blue-text{
    color: rgb(10, 10, 10);
    font-weight: 500;
}
.dtext{
    color: rgb(10, 10, 10);
    font-weight: 500;
}

.time {
    font-size: 9px !important
}



.feed-image img {
    width: 100%;
    height: auto
}
.resize-img{
    width: 40%;
}

.container-bg {
    background: #f6f6f6;
    padding-left: 1rem;
    padding-bottom: 1rem;
    padding-top: 2rem;
}

.container-fd {
    background: #f6f6f6;
    padding-left: 1rem;
    padding-bottom: 1rem;
    padding-right: 1rem;
    padding-top: 2rem;
    

}
.dropdown{
    padding-bottom: 3rem;
}
.container-carousel{
    padding-left: 10rem;
    padding-bottom: 0rem;
 padding-right: 10rem;
}
